# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user

# Build Output
/build

# VCPKG Dependencies
/vcpkg_installed

# Personal Config File
./config.lua

# CLion and other JetBrains tools
/.idea
.vscode/
.env
