services:
  server-db:
    image: mariadb:latest
    pull_policy: always
    restart: always
    command: [ "--default-authentication-plugin=mysql_native_password" ]
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: blacktekserver
      MYSQL_USER: blacktekserver
      MYSQL_PASSWORD: blacktekpassword
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
      - ./db-data:/var/lib/mysql
    networks:
      - blacktek-net
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-u", "blacktekserver", "-pblacktekpassword"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 5s
  
  whodb:
    image: clidey/whodb:latest
    restart: always
    ports:
      - "8080:8080"
    networks:
      - blacktek-net

  server:
    build:
      context: .
    restart: always
    ports:
      - "7171:7171"
      - "7172:7172"
    volumes:
      - .:/srv
    networks:
      - blacktek-net
    depends_on:
      server-db:
        condition: service_healthy

volumes:
  server-db-data:

networks:
  blacktek-net:
    driver: bridge